<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <app-post-list-component class="list-group" *ngFor="let post of posts" [title]="post.title" [content]="post.content" [loveIts]="post.loveIts" [createAt]="post.createdAt" style="padding-top: 10px">

        </app-post-list-component>
      </ul>
    </div>
  </div>
</div>

