<li [ngClass]="{'list-group-item': true, 'list-group-item-success': loveIts > 0, 'list-group-item-danger': loveIts < 0}">
  <div class="d-flex flex-column bd-highlight m-3">
    <div class="d-flex justify-content-between mb-2">
      <div class="">
        <h4>{{title}}</h4>
      </div>
      <div class="font-weight-bold">
        {{createAt | date: 'short'}}
      </div>
    </div>
    <div class="text-justify font-weight-normal" style="font-size: 1.3rem">
      <p>{{content}}</p>
    </div>
    <div class="btn-toolbar ml-auto">
      <span class="btn-group">
        <button type="button" class="btn" (click)="onLike()">
          <img src="../../assets/buttons/thumbs-up-hand-symbol.png">
        </button>
      </span>
      <span class="btn-group">
        <div class="btn">
            {{loveIts}}
        </div>
      </span>
      <span class="btn-group">
        <button type="button" class="btn" (click)="onDislike()">
         <img src="../../assets/buttons/thumbs-down-silhouette.png">
        </button>
      </span>
    </div>
  </div>
</li>
